//Color palette
$colors-brand-base: #002b44;
$colors-brand-dark: #032232;

$colors-accent-base: #e20175;

$colors-secondary-base: #18907e;
$colors-secondary-light: #00ffce;

$colors-neutral-base: #344954;
$colors-neutral-light: #77848a;
$colors-neutral-lighter: white;
$colors-neutral-dark: black;
$colors-neutral-darker: black;

//Companion pairs
$colors-brand-companion: $colors-neutral-lighter;
$colors-accent-companion: $colors-secondary-light;
$colors-secondary-companion: $colors-neutral-lighter;
$colors-neutral-companion: $colors-neutral-lighter;

// podria dejar estas clases y que en los theme extraingan los valores.