//Color palette
$colors-accent: #e20175;
$colors-accent-inverted: #00ffce;
$colors-secondary: #002b44;
$colors-secondary-dark: #032232;
$colors-primary-inverted: #e4e4e4;
$colors-neutral: #77848a;
$colors-title: #344954;
$colors-white-smoke: #f3f3f3;
$colors-green-background: #18907e;
