
$screen-sxs-max: 467px;
$screen-msm-min: 768px;
$screen-msm-max: 948px;
$screen-mmd-min: 992px;
$screen-mmd-max: 1211px;

//BreakPoints
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1211px;
