@mixin defineFont($fontFamily, $fileName) {
    $fontPath:'./' !default;
    $fontFileName: $fontPath + $fileName;
    @font-face {
        font-family: $fontFamily;
        src: url($fontFileName +'.eot');
        src: url($fontFileName +'.eot?#iefix') format('embedded-opentype'),
        url($fontFileName +'.woff2') format('woff2'),
        url($fontFileName +'.woff') format('woff'),
        url($fontFileName +'.ttf') format('truetype'),
        url($fontFileName +'.svg#'+ $fileName) format('svg');
    }
}

@include defineFont('Flama', 'Flama-Basic');
@include defineFont('Flama-Bold', 'Flama-Bold');
@include defineFont('Flama-Semibold', 'Flama-Semibold');
@include defineFont('Flama-Book', 'Flama-Book');
@include defineFont('Flama-BookItalic', 'Flama-BookItalic');
@include defineFont('Flama-Light', 'Flama-Light');
@include defineFont('Flama-Medium', 'Flama-Medium');
@include defineFont('Flama-MediumItal', 'Flama-MediumItalic');
@include defineFont('Flama-Thin', 'Flama-Thin');
@include defineFont('FlamaCondensed-Book', 'FlamaCondensed-Book');
@include defineFont('FlamaCondensed-Medium', 'FlamaCondensed-Medium');
@include defineFont('FlamaCondensed-Bold', 'FlamaCondensed-Bold');
